/* Table of contents
1. Fonts
2. Variables
3. General styles
4. Layout 
5. Media query*/

/* Fonts */
@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}

/* Variables */
:root {
  --h1-clr: #1a1a1a;
  --text-clr: #404040;
  --background-clr: #fff;
}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: var(--background-clr);
}
h1 {
  font-size: 3rem;
  padding: 0.5em;
  color: var(--h1-clr);
  font-family: "Jost";
}
h2,
h3 {
  text-align: center;
}
h2 {
  font-size: 1.75rem;
  padding-top: 0.5em;
  font-weight: 300;
}
h3 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
}
.container {
  width: 90vw;
  margin: auto;
}
.members {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  width: auto;
}
.member {
  width: 90%;
  background: var(--background-clr);
  border-radius: 0.875rem;
  text-decoration: none;
  color: var(--text-clr);
  transition: all 400ms ease-in;
  box-shadow: 0em 1em 0.25em rgba(0, 0, 0, 0.25);
}
.member:hover {
  transform: translateY(-1em);
  box-shadow: 0em 2em 0.5em rgba(0, 0, 0, 0.25);
}
.member img {
  width: 100%;
  border-top-left-radius: 0.875rem;
  border-top-right-radius: 0.875rem;
}
.member p {
  font-weight: 300;
  padding: 1em 2em;
  text-align: center;
}

/* Media query */
@media screen and (min-width: 768px) {
  .member {
    max-width: 30%;
  }
  .member p {
    font-size: calc(0.25rem + 1vw);
    padding-bottom: 1.5em;
  }
}
